.is-logged-out {
    display: flex;
    text-align: center;
    top: 30%;
    position: absolute;
    width: 100;
    align-items: center;
    right: 40%;
}

.is-logged-in {
    display: flex;
    text-align: center;
    top: 30%;
    position: absolute;
    right: 30%;
}


.login-false {
    color:rgb(160, 23, 23);
    top: 100%;
}

.title-content {
    display: flex;
    text-align: right;
    top: -150%;
    position: absolute;
    width: 100;
    align-items: center;
    right: 65%;
}

.title-login  {
    display: flex;
    top: -500%;
    position: absolute;
    align-items: center;
    right: 40%;
}

.title-register  {
    display: flex;
    top: 4%;
    position: absolute;
    align-items: center;
    right: 45%;
}

.list {
    display: flex;
    text-align: right;
    top: 200%;
    position: absolute;
    align-items: center;
    right: 65%;
}

.email-input {
    display: flex;
    text-align: right;
    top: 10%;
    position: absolute;
    right: 43%;
}

.password-input {
    display: flex;
    text-align: right;
    top: 15%;
    position: absolute;
    right: 43%;
}

.email-input-1 {
    display: flex;
    text-align: right;
    top: 100%;
    right: 45%;
}

.password-input-1 {
    display: flex;
    text-align: right;
    top: 1000000000000000000%;
    right: 45%;
}

.button-register {
    right: 10%;
    top : 20%;
}

.button-login{
    display: flex;
    top: 200%;
    position: absolute;
    right: 35%;
}

.add-button {
    display: flex;
    text-align: right;
    width: 100;
    align-items: center;
    right: 10%;
}

.list {
    display: flex;
    text-align: right;
    width: 100;
    align-items: center;
    right: 50%;
    flex-direction: column;
}

.log-out {
    display: flex;
    top: 400%;
    align-items: center;
    right: 10%;
}