.is-logged-out {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 17%;
}

.is-logged-in {
    display: flex;
    text-align: center;
    top: 30%;
    position: absolute;
    right: 30%;
}


.login-false {
    color:rgb(160, 23, 23);
    top: 100%;
    margin-top: 20%;
}

.title-content {
    display: flex;
    text-align: right;
    top: -150%;
    position: absolute;
    width: 100;
    align-items: center;
    right: 65%;
}

.register  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17%;
}

.list {
    display: flex;
    text-align: right;
    top: 200%;
    position: absolute;
    align-items: center;
    right: 65%;
}

.button-login{
    margin-top: 1rem;
}

.button-register{
    margin-top: 1rem;
}

.list {
    display: flex;
    text-align: right;
    width: 100;
    align-items: center;
    right: 50%;
    flex-direction: column;
}

.log-out {
    display: flex;
    top: 400%;
    align-items: center;
    right: 10%;
}